#!/usr/bin/env bash

WP_CLI="/path/to/wp"
KANJIDIC2_XML="/path/to/kanjidic2.xml"
JMDICT_E_XML="/path/to/JMdict_e.xml"
HANJA_CSV="/path/to/hanja.csv"
UNIHAN_READINGS="/path/to/Unihan_Readings.txt"
UNIHAN_VARIANTS="/path/to/Unihan_Variants.txt"
JLPT_KANJI="/path/to/jlpt_kanji.txt"

# Make sure the plugin is active.
$WP_CLI plugin activate 'hime-nihongo-kanji-plugin'
$WP_CLI hnkp/misc drop-tables --yes
$WP_CLI hnkp/misc update-tables

# Do dictionary import
$WP_CLI hnkp/dic import-kanji "$KANJIDIC2_XML"
$WP_CLI hnkp/dic import-tango "$JMDICT_E_XML"
$WP_CLI hnkp/dic import-hanja "$HANJA_CSV"
$WP_CLI hnkp/dic import-sinji "$UNIHAN_READINGS"
$WP_CLI hnkp/dic import-map "$UNIHAN_VARIANTS" "$UNIHAN_READINGS"
$WP_CLI hnkp/dic import-jlpt "$JLPT_KANJI"

# Do hime migration
$WP_CLI hnkp/hime migrate
